html {
    color: #33394E;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #6EC9EA;
    text-shadow: none;
}
::selection {
    background: #6EC9EA;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img, svg, video {
    vertical-align: middle;
}
body {
    font-family: 'Lato', sans-serif;
}
.wrapper {
    width: 90%;
    margin: 0 5%;
}
a {
    text-decoration: none;
    color: #27AAE1;
}
a:hover {
    text-decoration: underline;
}

/* ALL */
.header-container {
    width: 100%;
    background: #fff;
}
.footer-container {
    background: #eee;
}

/* Mobile-first */
.header-container header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#logo-container {
    flex: 1 1 auto;
    text-align: center;
}
nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav a {
    display: block;
    margin: 0 12px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #33394E;
    border-bottom: 3px solid transparent;
}
nav a:visited {
    color: #33394E;
}
nav a:hover {
    text-decoration: none;
    color: #27AAE1;
    border-bottom: 3px solid #27AAE1;
}
nav a.selected {
    color: #27AAE1;
    border-bottom: 3px solid #27AAE1;
}

/* Main */
.main {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
.main article {
    flex: 1 1 auto;
}
.main article h1 {
    font-size: 2em;
}
.main article h2 {
    font-size: 1.5em;
}
.footer-container footer {
    color: #33394E;
    padding: 20px 0;
}

/* Custom */
img#coverimg {
    width: 100%;
    max-height: 360px;
    object-fit: cover;
}
img.avatar {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 12px;
}
img.social {
    height: 24px;
    margin: 8px;
}
.main aside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main aside a {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.7;
}
.main aside a:hover {
    opacity: 1;
}
.main aside img {
    height: 32px;
    margin: 12px 12px 12px 0;
}
.main aside a .label {
    display: none;
}
section.speaker, section.organiser {
    display: flex;
    flex-direction: column;
}
section.speaker header, section.organiser header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
section.sponsors dl {
    display: flex;
    flex-direction: row;
    align-items: center;
}
section.sponsors img {
    max-width: 120px;
}
section.partners ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
section.partners img {
    max-width: 120px;
    margin: 12px;
}

/* Media Queries */
/* INTERMEDIATE */
@media only screen and (min-width: 480px) {
}
/* WIDE */
@media only screen and (min-width: 768px) {
    .header-container header {
        flex-direction: row;
    }
    .main {
        flex-direction: row;
    }
    .main aside {
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: left;
        padding: 0 0 0 24px;
    }
    .main aside a {
        flex: 0 1 auto;
    }
    .main aside a .label {
        display: inherit;
    }
    header {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #logo-container {
        display: inline-flex;
    }
    nav {
        display: inline-flex;
        align-items: flex-end;
    }
    nav ul {
        flex-direction: row;
    }
    nav li {
        display: inline-flex;
    }
}
/* MAX */
@media only screen and (min-width: 1140px) {
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}
